body{
    background-color: beige;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: poppins, sans-serif;

}

form{
    padding: 30px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input{
    padding: 10px;
    background: aquamarine;
    font-size: 18px;
    display: block;
    margin: 20px 30px;
}


button{
    padding: 12px;
    background: cornflowerblue;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    display: block;
    margin: auto;
}
button:hover{
    background: rgb(127, 171, 251);
}